a {
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
	text-decoration: none;
	color: inherit;
}

body{
    background-image: url("../image/bg.jpg");
    background-position: center center, center center;
}

#headerline{
	text-align: center;
	width: 100%;
	color: rgb(245,245,245)
}

.tab{
    width: 80%;
    display: block;
    margin: 10px auto;
    padding: 10px;
}

.tabchild{
    display: inline-block;
    width: 130px;
    height: 60px;
	margin: 2px;
    text-align: center;

    border-radius: 10px;
    background-color: #566C73;
    color: #FFFFFB;
    font-weight: bold;
    font-size: 12pt;
	line-height: 60px;
    letter-spacing: 3px;　
}

#canvas-holder{
    background-color: rgba(255,255,255,0.8);
    width:80%; 
    margin:10px auto;
    border-radius: 15px;
}
